<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>React pizza-menu</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,400;0,500;0,600;1,100&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="template.css" />
  </head>
  <body>
    <header class="header">
      <h1>fast react pizza co.</h1>
    </header>
    <main class="main">
      <h2>our menu</h2>
      <p>
        Authentic Italian cuisine. 6 creative dishes to choose from. All from our stone oven, all
        organic, all delicious.
      </p>
      <ul class="pizzas">
        <li class="pizza">
          <img src="../public/pizzas/salamino.jpg" alt="pizza salamino image" />
          <div>
            <h3>Pizza Salamino</h3>
            <p>Tomato, mozarella, and pepperoni</p>
            <span>sold out</span>
          </div>
        </li>
        <li class="pizza">
          <img src="../public/pizzas/salamino.jpg" alt="pizza salamino image" />
          <div>
            <h3>Pizza Salamino</h3>
            <p>Tomato, mozarella, and pepperoni</p>
            <span>sold out</span>
          </div>
        </li>
        <li class="pizza">
          <img src="../public/pizzas/salamino.jpg" alt="pizza salamino image" />
          <div>
            <h3>Pizza Salamino</h3>
            <p>Tomato, mozarella, and pepperoni</p>
            <span>sold out</span>
          </div>
        </li>
        <li class="pizza">
          <img src="../public/pizzas/salamino.jpg" alt="pizza salamino image" />
          <div>
            <h3>Pizza Salamino</h3>
            <p>Tomato, mozarella, and pepperoni</p>
            <span>sold out</span>
          </div>
        </li>
        <li class="pizza">
          <img src="../public/pizzas/salamino.jpg" alt="pizza salamino image" />
          <div>
            <h3>Pizza Salamino</h3>
            <p>Tomato, mozarella, and pepperoni</p>
            <span>sold out</span>
          </div>
        </li>
        <li class="pizza sold-out">
          <div><img src="../public/pizzas/salamino.jpg" alt="pizza salamino image" /></div>
          <div>
            <h3>Pizza Salamino</h3>
            <p>Tomato, mozarella, and pepperoni</p>
            <span>sold out</span>
          </div>
        </li>
      </ul>
    </main>
    <footer class="footer">
      <p>We're happy to welcome you between {openHour}:00 and {closeHour}:00.</p>
    </footer>
  </body>
</html>
