<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>React pizza-menu</title>

    <link rel="stylesheet" href="template.css" />
  </head>
  <body>
    <header class="header">
      <h1>fast react pizza co.</h1>
    </header>
    <main class="main">
      <h2>our menu</h2>
      <p>
        Authentic Italian cuisine. 6 creative dishes to choose from. All from our stone oven, all
        organic, all delicious.
      </p>
      <ul class="pizzas">
        <li class="pizza">
          <img src="../public/pizzas/salamino.jpg" alt="pizza salamino image" />
          <div>
            <h3>Pizza Salamino</h3>
            <p>Tomato, mozarella, and pepperoni</p>
            <span>sold out</span>
          </div>
        </li><li class="pizza">
          <img src="../public/pizzas/salamino.jpg" alt="pizza salamino image" />
          <div>
            <h3>Pizza Salamino</h3>
            <p>Tomato, mozarella, and pepperoni</p>
            <span>sold out</span>
          </div>
        </li><li class="pizza">
          <img src="../public/pizzas/salamino.jpg" alt="pizza salamino image" />
          <div>
            <h3>Pizza Salamino</h3>
            <p>Tomato, mozarella, and pepperoni</p>
            <span>sold out</span>
          </div>
        </li><li class="pizza">
          <img src="../public/pizzas/salamino.jpg" alt="pizza salamino image" />
          <div>
            <h3>Pizza Salamino</h3>
            <p>Tomato, mozarella, and pepperoni</p>
            <span>sold out</span>
          </div>
        </li><li class="pizza">
          <img src="../public/pizzas/salamino.jpg" alt="pizza salamino image" />
          <div>
            <h3>Pizza Salamino</h3>
            <p>Tomato, mozarella, and pepperoni</p>
            <span>sold out</span>
          </div>
        </li>
        <li class="pizza sold-out">
          <div><img src="../public/pizzas/salamino.jpg" alt="pizza salamino image" /></div>
          <div>
            <h3>Pizza Salamino</h3>
            <p>Tomato, mozarella, and pepperoni</p>
            <span>sold out</span>
          </div>
        </li>
      </ul>
    </main>
    <footer>
      <p>footer</p>
    </footer>
  </body>
</html>
